* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar_logo, .navbar_menu, .navbar_menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: #fff;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}

.navbar_logo {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 24px;
}

.navbar_bars {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar_bars {
    color: #000;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}

.navbar_menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbar_menu {
    display: none;
  }
}

.navbar_menu--links {
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar_menu--links:hover {
  color: #26af26;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #26af26;
  margin-left: 16px;
  color: #fff;
}

.navbar #button:hover {
  background-color: #d15528;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero {
  background-color: #fff;
}

.hero_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .hero_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero_container--left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero_container--left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .hero_container--left {
    line-height: 1.5;
  }
}

.hero_container--left h1 {
  font-size: 4rem;
  color: #26af26;
}

@media screen and (max-width: 280px) {
  .hero_container--left h1 {
    font-size: 1.5rem;
  }
}

.hero_container--left h2 {
  font-size: 4rem;
  color: #000;
}

@media screen and (max-width: 280px) {
  .hero_container--left h2 {
    font-size: 2rem;
  }
}

.hero_container--left p {
  font-size: 2rem;
  color: #000;
  margin-top: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .hero_container--left p {
    font-size: 1.5rem;
  }
}

.hero_container--btn {
  font-size: 1rem;
  background-color: #26af26;
  padding: 14px 32px;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 20px;
}
/*# sourceMappingURL=styles.css.map */